<div class="fixed z-10 flex items-center justify-center w-full bottom-2">
  <nav class="p-2 rounded-md bg-antique-brass-500">

    <div class="flex items-stretch justify-between gap-2">
      <a routerLink="/" class="flex items-center gap-2 px-4 py-2 rounded-md bg-antique-brass-600 hover:bg-antique-brass-700">
        <img width="32" height="32" [ngSrc]="navBarLogo" alt="Library App">
        <p>{{titleApp}}</p>
      </a>
      <div class="flex gap-2 rounded-md ">
        <a routerLink="/library" class="btn-navBar">Library</a>
        <a routerLink="/create" class="btn-navBar">Add Book</a>
        <a routerLink="/about" class="btn-navBar">About</a>
      </div>
    </div>

  </nav>
</div>