<section class="flex items-center justify-center min-h-screen px-2 bg-cover bg-slate-500" [ngStyle]="{ 'background-image': 'url(' + bgImage + ')' }">

  <main-container>
    <div class="flex flex-col items-center justify-center p-6 rounded-md bg-antique-brass-500 bg-opacity-80 backdrop-blur-sm min-h-60">
      <article class="flex flex-col items-center justify-center gap-6">
        <header class="flex flex-col items-center">
          <h1 class="text-3xl text-center font-display">Welcome to</h1>
          <h1 class="text-6xl text-center font-display">{{title}}</h1>
        </header>
        <p class="text-center max-w-[70ch]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et diam in velit vehicula consectetur. Sed semper quis mi tempor tempor. Phasellus sodales leo vitae dui interdum, sit amet porta nisl mattis. In facilisis, enim a tincidunt ultricies. </p>
      </article>
      <a routerLink="/library" class="mt-10 btn btn-primary">
        View Library
      </a>
    </div>
  </main-container>

</section>