<div class="flex flex-col h-full overflow-hidden rounded-md bg-antique-brass-500">
  <figure class="h-2/3">
    <img class="object-cover w-full h-full rounded-b-2xl" src="{{bookDetails.imageURL}}" alt="Book image {{bookDetails.title}}" />
  </figure>
  <div class="flex flex-col items-center justify-between flex-1 px-2 py-4">
    <h2 class="text-lg font-bold text-center md:text-1xl text-antique-brass-5">{{bookDetails.title}}</h2>
    <p class="mt-4 text-sm text-center text-antique-brass-950 ">{{bookDetails.author}}</p>
  </div>
</div>