<div class="flex flex-col h-full overflow-hidden rounded-md bg-antique-brass-500">
  <figure class="h-2/3">
    <img class="object-cover w-full h-full rounded-b-2xl" src="{{bookDetails.imageURL}}" alt="Book image {{bookDetails.title}}" />
  </figure>
  <article class="flex flex-col justify-between flex-1 px-2 py-4">
    <div class="flex flex-col justify-between flex-1 gap-2">
      <h2 class="font-bold md:text-1xl text-antique-brass-50">{{bookDetails.title}}</h2>
      <p class="text-xs italic text-antique-brass-50">{{bookDetails.categories}}</p>
    </div>
    <p class="mt-2 text-sm font-bold text-antique-brass-950">{{bookDetails.author}}</p>
  </article>
</div>